<!-- footer container -->
<footer id="footer" class="footer">
  <div class="footer-container">
    <p>
      &copy; <%= date(new Date(), 'YYYY') %> <a href="/" target="_blank"><%= config.author %></a>
      <% if (theme.rss){ %>
        |
        <a rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
          <%- partial("../_svg/icon-rss.svg") %>
        </a>
      <% } %>
    </p>

    <% if (theme.beian) { %>
      <p><a href="https://beian.miit.gov.cn" target="_blank"><%= theme.beian %></a></p>
    <% } %>

    <p>Powered by <a href="https://hexo.io" target="_blank" rel="noopener noreferrer">Hexo</a> - <a href="https://github.com/waynexia/flexblock-modified" target="_blank" rel="noopener noreferrer author">This theme</a> is customized from <a href="https://github.com/miiiku/flex-block" target="_blank" rel="noopener noreferrer author">flex-block</a></p>

    <script data-goatcounter="https://waynest.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  </div>
</footer>